name: Package (NuGet)

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  publish:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NuGet
        uses: nuget/setup-nuget@v2
        with:
          nuget-version: "latest"

      - name: Pack
        run: nuget pack ArchitectureSmith.Templates.nuspec -Version $env:GITHUB_REF_NAME.Replace("v","") -NoDefaultExcludes

      - name: Push
        run: nuget push *.nupkg -Source "https://api.nuget.org/v3/index.json" -ApiKey ${{ secrets.NUGET_KEY }} -SkipDuplicate
